<form class="form-inline" role="form"
    action="https://mesosphere.us3.list-manage.com/subscribe/post?u=231fb1fc07e2fa18de9465016&amp;id=9490aa437a"
    method="post" novalidate id="tutorial-subscribe-form"
    data-download="{{ framework.paperkraft.file }}">
  <h2>Join the Mesosphere Email List!</h2>
  <p>Join the Mesosphere email list and stay updated on the latest news for everything Mesos!</p>
  <br>

  <div class="form-group">
    <label class="sr-only" for="emailAddress">Email address</label>
    <input type="email" class="form-control input-lg" id="emailAddress"
      placeholder="Enter email" name="EMAIL">
  </div>
  <button type="submit" class="btn btn-lg btn-primary btn-block-xs">Join Email List</button>
</form>
